.navContainer{
    justify-content: left;
}

.mainpage{
    justify-content: left;
}
/*Desktop Width = (nDeQuizz x 340px) + ((nDeQuizz - 1) x 15px)*/
/*esses mediaquery servem p sempre ter um espaço completo */
    @media screen and (min-width: 1100px){
        .userEmptyQuizzes,
        .mainpage{
            width:710px;
        }
    }
    @media screen and (min-width: 1400px){
        .userEmptyQuizzes,
        .mainpage{
            width:1065px;
        }
    }
    @media screen and (min-width: 1600px){
        .userEmptyQuizzes,
        .mainpage{
            width:1420px;
        }
    }
    @media screen and (min-width: 1900px){
        .userEmptyQuizzes,
        .mainpage{
            width: 1775px;
        }
    }
    .mainpage ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
    }
        .mainpage li{
            margin-right: 15px;
        }
/*Tela 2*/

.quizzPageImg{

    max-height: 227px;
}
.quizzCreationGeneralInfos{
    width: 100%;
}
.box{
    max-width: 676px;
}
.btn{
    max-width: 367px;
}
.quizz > div:hover{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 64.58%, #000000 100%);
}

    