.navContainer{
    justify-content: space-between;
}
.mainpage ul{
    flex-direction: column;
}
.mainpage{
    max-width:340px;
}
.quizzPageImg{
max-height: 147px;
}
.box{
    height: 100%;
}
.btn{
    max-width: 320px;
}