@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}
*{
    box-sizing: border-box;
}
/*Configurações Gerais*/
main{
    padding: 0 0 31px 0;
    margin: 69px auto 0 auto;
    display: none;
    flex-direction: column;
    align-items: center;
}
button{ /*Resetar o css default do button*/
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.btn{
    background: #EC362D;
    border-radius: 15px;
    /*Text do Button*/
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFF5F4;
}
/*Header - TopBar - Feito*/
.topBar{
    width: 100%;
    height: 69px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
    .topBar h1{
        font-weight: 700;
        font-size: 37px;
        line-height: 43px;
        color: #FFFFFF;
    }
/*Layout dos Quizz*/
.quizz{ /*li -> quizz*/
    padding-top: 14px; /*Para mobile*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .quizzThemeImg{/*Source*/
        width: 340px;
        height: 181px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(image.png);
        border-radius: 5px;
    }
    .quizz h2{ /*Titulo do Quizz*/
        position: absolute;
        width: 309px;
        height: 54px;
        bottom: 6px;
        font-weight: 400;
        font-size: 19px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
    }
/*Config todas as Mains*/
main h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
/*Main-Page*/
.mainpage{
    /*Desktop Width = (nDeQuizz x 340px) + ((nDeQuizz - 1) x 15px)*/
    margin-top: 100px;
    min-width: 340px;
    width: 100%;
}
/*Quizz-Empty*/
.userQuizzes{
    padding-bottom: 31px;
    width:100%;
}
.userEmptyQuizzes{
    padding: 40px 0 33px 0;
    width: 100%;
    height: 181px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.userEmptyQuizzes h2{
    width: 250px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #B9B9B9;      
}
.createQuizz{/*button*/
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    /*Texto do Button*/
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EC362D;
}
/*Quizz Filled*/
.userAllQuizzes{
    display: none;
    flex-direction: column;
    width:100%;
}
.navContainer{
    display: flex;
    align-items: center;
}

.mainpage ul{
    display: flex;
    flex-direction: column;
}
.createQuizzIcon{
    color: #EC362D;
    width: 31px;
    height: 31px;
    margin-left: 17px;
}
/*Main Quizz-Page*/
.quizzPage{
    width: 100%;
}
.quizzPageImg{
    margin-bottom: 24px;
    width: 100%;
    object-fit: contain;
    background-color: #000000;
}
.quizzQuestionList{
    margin-bottom: 28px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.quizzQuestionContainer{
    padding: 5px;
    width: 100%;
    max-width: 676px;
    height: 400px;
    margin: 18px auto;
    display: flex;
    background: #ffFFFF;
    flex-direction: column;
    justify-content: space-between;
}
.quizzResultTitle,
.quizzQuestionTitle{
    width: 100%;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}
    .quizzResultTitle{
        height: 99px;
    }
    .quizzResultTitle h1,
    .quizzQuestionTitle h1{
        /*Texto*/
        width: 308px;
        font-weight: 700;
        font-size: 19px;
        line-height: 22px;
        color: #FFFFFF;
    }
.alternatives{
    height: 298px;
    display: flex;
    justify-content: space-between;
}
.alternativesSideRight,
.alternativesSideLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.choise{
    height: 149px;
}
.choise h2{
    margin-top: 6px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}
/*Colors*/
.q1{
    background-color: #434CA0;
}
.q2{
    background-color: #A0438D;
}
/*Quizz-Result*/
.results{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.quizzResult{
    display: flex;
    margin-bottom: 34px;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.quizzResultContainer{
    width: 340px;
    height: 100%;
    margin: 18px auto;
    display: flex;
    flex-direction: column;
}
.quizzResultDescription{
    margin-top: 9px;
}
.quizzResultDescription h2{
    margin-top: 17px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #484848;
}
.again{/*Botão*/
    width: 220px;
    height: 44px;
}
.homeButton{
    margin-top: 8px;
    margin-bottom: 35px;
    width: 220px;
    height: 44px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #818181;
}
/*Main Quizz Creation*/
main .quizzcreation{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.infos{
    padding: 39px 0 29px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}
.quizzcreation-general-infos{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}
.quizzcreation-container{
    padding: 21px 0 15px 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputinfos{
    padding: 13px 0 11px 14px;
    margin-bottom: 9px;
    width: 341px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;

}
.inputinfos::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
}
.quizzcreation h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}
.quizzcreation-questions{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}
.questioninfo,
.right-answer,
.wrong-answer > div{
    display: flex;
    flex-direction: column;

}
.questioninfo,
.right-answer{
    margin-bottom: 28px;
}
.questioninfo h1,
.right-answer h1,
.wrong-answer h1{
    margin-bottom: 14px;
}
.quizzcreation-questions > div{
    margin-bottom: 24px;
}
.wrong-answer > div{
    margin-bottom: 25px;
}
.wrong-answer > div:last-child{
    margin-bottom: 0;
}
.questiontitle{
    width: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.open-icon{
    display: none;
    width: 26px;
    height: 26px;
}
.proceedToLevels{
    margin-bottom: 40px;
}
/*Levels*/
.quizzcreation-levels{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}
.quizzcreation-levels > div{
    margin-bottom: 24px;

}
.level{
    width: 340px;
}
.leveltitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leveltitle h1{
    margin-bottom: 12px;
}
.description{
    height: 177px;
}
.quizzcreation-finish{
    width: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
}
.active{ /*Para testes!*/
    display: flex;
}


