@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}
*{
    box-sizing: border-box;
}
/*Configurações Gerais*/
main{
    padding: 0 0 31px 0;
    margin: 69px auto 0 auto;
    display: none;
    flex-direction: column;
    align-items: center;
}
/*Header*/
.topBar{
    width: 100%;
    height: 69px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
    .topBar h1{
        font-weight: 700;
        font-size: 37px;
        line-height: 43px;
        color: #FFFFFF;
    }
/*Buttons*/
button{ /*Resetar o css default do button*/
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}   .btn{
        background: #EC362D;
        border-radius: 15px;
        width:360px;
        height:54px;
        margin: 30px;
        /*Text do Button*/
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #FFF5F4;
    }
    .homeButton{
        width: 220px;
        height: 44px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #818181;
    }
/*Config todas as Mains*/
main h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
/*Main-Page*/
.mainpage{
    /*Desktop Width = (nDeQuizz x 340px) + ((nDeQuizz - 1) x 15px)*/
    margin-top: 100px;
    min-width: 340px;
    width: 100%;
}
/*MainPage > Container*/
.userQuizzes{
    padding-bottom: 31px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
}   /*MainPage > User-Quizz-Empty*/
    .userEmptyQuizzes{
        padding: 40px 0 33px 0;
        width: 340px;
        height: 181px;
        background: #FAFAFA;
        border: 1px dashed #D5D5D5;
        border-radius: 5px;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }   .emptyText{
            width: 240px;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            display: flex;
            align-items: center;
            color: #B9B9B9;      
        }
        .createQuizz{/*button*/
            width: 151px;
            height: 40px;
            background: #FAFAFA;
            border: 1px dashed #EC362D;
            box-sizing: border-box;
            border-radius: 50px;
            /*Texto do Button*/
            font-weight: 400;
            font-size: 21px;
            line-height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #EC362D;
        }
    /*MainPage > User-Quizz-Filled*/
    .userAllQuizzes{
        display: none;
        flex-direction: column;
        align-items: center;
        width:100%;
    }   .navContainer{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }   .createQuizzIcon{
                color: #EC362D;
                width: 31px;
                height: 31px;
                margin-left: 17px;
            }
        .mainpage ul{
            display: flex;
            flex-direction: column;
        }
/*Main > Quizz-Page > QuestionScreen (Tela-2)*/
.quizzPage{
    scroll-margin-top: 100px;
}
.quizzBox{
    margin-top: 40px;
    padding: 37.5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    width: 760px;
    height: 100%;
    scroll-margin-top: 100px;
}   /*QuestionScreen - Header*/
    .quizzPageHeader{
        width: 100%;
    }
    .quizzQuestionTitle{
        width: 100%;
        height: 138px;
        background:#434CA0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    } .quizzTopTitle{
            width: 100%;
            font-weight: 700;
            font-size: 23px;
            line-height: 27px;
            color: #FFFFFF;
        }
    /*QuestionScreen - Content*/
    .allAlternatives{
        width: 685px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }   .quizzAlternative{
            margin-top: 25px;
            width: 330px;
            display: flex;
            flex-direction: column;
        }   .quizzAlternative .answerImg{
                width: 330px;
                height: 172px;
                background-position: center; 
                background-repeat: no-repeat; 
                background-size: cover;
            } .quizzAlternative h2{
                margin-top: 10px;
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;
            }
            .rightAnswer{
                color: #009C22;
            } .wrongAnswer{
                color: #FF4B4B;
            }  
            .opacity{
                opacity: 0.3;
            }
/*Main > Quizz-Page > ResultScreen (Tela-2)*/
.quizzResult{
    display: flex;
    flex-direction: column;
    align-items: center;
}   .quizzResult .quizzBox{
        padding: 18px;
        height: 100%;
        display: flex;
        flex-direction: column;
        scroll-margin-top: 100px;
    }   /*QuestionScreen - Header*/
        .quizzResultTitle{
            width: 100%;
            height: 99px;
            background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        /*QuestionScreen - Content*/
        .resultDescription{
            margin-top: 18px;
            display: flex;
            flex-direction:row;
            justify-content: space-between;
        }   .resultDescription img{
                width: 364px;
                height: 273px;
            }
            .resultDescription h2{
                width: 330px;
                font-weight: 700;
                font-size: 19px;
                line-height: 25px;
                color: #484848;
            }
/*Layout dos Quizz*/
.quizz{ /*li -> quizz*/
    margin-top: 14px; /*Para mobile*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size:cover;


}
    .quizz div{/*Source*/
        width: 340px;
        height: 181px;  

        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
        border-radius: 5px;
    }
    .quizz div:hover{
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 64.58%, #000000 100%);
    }
    .quizz h2{ /*Titulo do Quizz*/
        position: absolute;
        width: 309px;
        height: 54px;
        bottom: 6px;
        font-weight: 400;
        font-size: 19px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        word-wrap: break-word;
    }





.quizzCreationGeneralInfos{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}
/*Main - QuizzCreation*/
.infos{
    padding: 30px 0;
    width: 100%;
    text-align: center;
}
.open-icon{ /*Icone para abrir mais informações*/
    display: none;
    width: 26px;
    height: 26px;
}
.inputInfos{
    padding: 13px 0 11px 14px;
    width: 100%;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
}
    .inputinfos::placeholder{
        font-style: italic;
        font-weight: 400;
        font-size: 19px;
        line-height: 22px;
        color: #BABABA;
    }
    .quizzCreationInputBox{
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
        height: 106px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }   /*Input Especifico do Level*/
        .description{
        height: 177px;
        } 
.box{
    padding: 21px 15px;
    width: 100%;
    margin: 0 auto 24px auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*Section GeneralInfos*/

/*Section QuizzCreation - GeneralInfos, Questions e Level*/
.quizzCreationQuestions,
.quizzCreationLevels{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}/*Mobile Design*/
.quizzCreationInfos{
    display: none;
    flex-direction: column;
    width: 100%;
    scroll-margin-top: 140px;
}/*Aparecer no onclick*/
.quizzCreationInfo > div:last-child{
    margin-bottom: 0px;
}/*Questions - Layout*/
.questionTitle,
.levelTitle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}/*Design Title*/
.generalInfos:last-of-type,
.question:last-of-type,
.level:last-of-type{
    margin-bottom: 0px;
}/*Não interferir no Padding da do Butão*/
.generalInfos input,
.level input{
    margin: 7.5px 0;
}   .generalInfos input:first-of-type{
        margin-top: 0px;
    }  /*Não interferir no Padding da Box*/
    .level input:first-of-type{
        margin-top: 15px;
    } /*Margin Correta para o primeiro input*/
    .generalInfos input:last-of-type,
    .level input:last-of-type{
        margin-bottom: 0px;
    } /*Não interferir no Padding da Box*/
/*Section Finish*/
.quizzCreationFinish{
    width: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
}
    .quizzCreationFinish div{
        background-image: url("../imagens/Rectangle 34 (1).png");
        height: 181px;
        width: 340px;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
    }
.active{ /*Para testes!*/
    display: flex;
}